*{
    margin: 0;
    color: #191516;
}

a {
    text-decoration: none;
}

.navi {
    background-color: #C9DAEA;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navi *{
    background-color: #AB2346;
    border-radius: 12px;
    padding: 4px;
}

.navi h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

ul {
    margin: 10px 0;
}

img {
    width: 400px;
    margin: 10px;
}